WebContent/wsdl/ServicoEndereco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servico" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servico" xmlns:intf="http://servico" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servico" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="buscarEnderecoPor">
    <complexType>
     <sequence>
      <element name="urlJson" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarEnderecoPorResponse">
    <complexType>
     <sequence>
      <element name="buscarEnderecoPorReturn" type="tns1:Endereco"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Endereco">
    <sequence>
     <element name="bairro" nillable="true" type="xsd:string"/>
     <element name="cep" nillable="true" type="xsd:string"/>
     <element name="complemento" nillable="true" type="xsd:string"/>
     <element name="gia" nillable="true" type="xsd:string"/>
     <element name="ibge" nillable="true" type="xsd:string"/>
     <element name="localidade" nillable="true" type="xsd:string"/>
     <element name="logradouro" nillable="true" type="xsd:string"/>
     <element name="numero" nillable="true" type="xsd:string"/>
     <element name="uf" nillable="true" type="xsd:string"/>
     <element name="unidade" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarEnderecoPorResponse">

      <wsdl:part element="impl:buscarEnderecoPorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarEnderecoPorRequest">

      <wsdl:part element="impl:buscarEnderecoPor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicoEndereco">

      <wsdl:operation name="buscarEnderecoPor">

         <wsdl:input message="impl:buscarEnderecoPorRequest" name="buscarEnderecoPorRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarEnderecoPorResponse" name="buscarEnderecoPorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicoEnderecoSoapBinding" type="impl:ServicoEndereco">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarEnderecoPor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarEnderecoPorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarEnderecoPorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicoEnderecoService">

      <wsdl:port binding="impl:ServicoEnderecoSoapBinding" name="ServicoEndereco">

         <wsdlsoap:address location="http://localhost:8080/PlanoDeEnsino/services/ServicoEndereco"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
